.leaflet-container {
    height: 700px !important;
    min-width: 200px !important;
}

.leaflet-control-generate-lines-interior {
    width: 100px;
    height: 50px;
    display: inline-block;
    padding: 3px;
    border-style: solid;
    border-radius: 4px;
    border-width: 2pt;
    border-color: rgb(44, 44, 44);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: auto;
    text-align: center;
    background-color: #61c07d;
    font-size: .875rem;
    font-weight: bold;
    color: black;
    overflow: hidden;
    vertical-align: middle;
}

.leaflet-control-generate-lines-interior:hover {
    background-color: #b6f18f;
}

.animation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animation.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animation.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
      transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0)
    }
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0)
    }
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0)
    }
  }

@keyframes bounce {
0%, 100%, 20%, 53%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
    transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0)
}
70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
    transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0)
}
90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
}
}

.bounce {
-webkit-animation-name: bounce;
animation-name: bounce;
-webkit-transform-origin: center bottom;
-ms-transform-origin: center bottom;
transform-origin: center bottom
}